<!--not active currently-->

<%- include('partials/header'); -%>

<form class="row g-3 register" action="/register" method="POST">
  <div class="mb-2">
    <img class="logo-image" src="images/logo.png" alt="Logo" width="80rem" />
  </div>
  <h3 class="mb-3">Register Here</h3>
  <!--firstname-->
  <div class="row col-md-6 mb-2 input">
    <input
      type="text"
      class="form-control"
      name="firstName"
      placeholder="First Name"
    />
  </div>
  <!--lastname-->
  <div class="row col-md-6 mb-2 input">
    <input
      type="text"
      class="form-control"
      name="lastName"
      placeholder="Last Name"
    />
  </div>
  <!--id-->
  <div class="row col-md-6 mb-2 input">
    <input
      type="text"
      class="form-control"
      name="id"
      placeholder="School/College/Employee Id"
    />
  </div>
  <!--email-->
  <div class="row col-md-6 mb-2 input">
    <input type="email" class="form-control" name="email" placeholder="Email" />
  </div>
  <!--password-->
  <div class="row col-md-6 mb-2 input">
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
    />
  </div>
  <!--confirm password-->
  <div class="row col-md-6 mb-2 input">
    <input
      type="password"
      class="form-control"
      name="confirmPassword"
      placeholder="Confirm Password"
    />
  </div>
  <div class="col-12">
    <!--teacher/student checkbox-->
    <div class="col-md-12 mb-2 input">
      <span class="col-md-6">
        <input
          class="form-check-input"
          type="checkbox"
          value="Teacher"
          name="checkboxValue"
        />
        <label class="form-check-label" for="teacher"> Teacher </label>
      </span>
      <span class="col-md-6">
        <input
          class="form-check-input"
          type="checkbox"
          value="Student"
          name="checkboxValue"
        />
        <label class="form-check-label" for="student"> Student </label>
      </span>
    </div>
    <!--submit button-->
    <button type="submit" class="btn btn-primary">Register!</button>
  </div>
</form>

<%- include('partials/footer'); -%>
